<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="ajinkya_pluginexample" type="Ajinkya\PluginExample\Plugin\ProductRepositoryExamplePlugin"/>
    </type>
</config>