<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="md_customobserver_log">
        <observer name="md_log_text" instance="Ajinkya\Hello\Observer\CustomObserver" />
    </event>
</config>
